<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 
        条件渲染:
            1.v-if
                写法:
                    (1).v-if="表达式"
                    (2).V-else-if="表达式"
                    (3).V-else="装达式"适用于:切换频率较低的场景。
                特点:不展示的DOM元素直接被移除。
                注意:v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。

            2.v-show
                底层就是使用style="display: none;"
                写法: 
                    V-show="表达式"
                适用于:切换频率较高的场景。v-if会不断增删 DOM节点，存在效率问题。
                特点:不展示的DOM元素未被移除，仅仅是使用样式隐藏掉

            3.备注:使用v-if的时，元素可能无法获取到，而使用v-show一定可以获取到。
     -->

    <div id="root">
        <h2>当前的n值是{{n}}</h2>
        <button @click="n++">点我让 n+1</button>
        
        <!-- 
            v-else 和 v-else-if
         -->
        <!-- <div v-if="n === 1">Angular</div> -->
        <!-- <div>条件判断从这里被中断了，前面可以正常运行，同时控制台报错</div> -->
        <!-- <div v-else-if="n === 2">React</div> -->
        <!-- <div v-else="n === 3">Vue</div> -->
        
        <!-- <div v-show="n === 1">Angular</div> -->
        <!-- <div v-show="n === 2">React</div> -->
        <!-- <div v-show="n === 3">Vue</div> -->

        <!-- 使用v-show做条件渲染 -->
        <!-- <h2 v-show="false">欢迎：{{name}}</h2>
        <h2 v-show="1 === 2">欢迎：{{name}}</h2> -->
        <!-- <h2 v-show="showable">欢迎：{{name}}</h2> -->

        <!-- 使用v-if做条件渲染 -->
        <!-- <h2 v-if="false">欢迎：{{name}}</h2>
        <h2 v-if="1 === 2">欢迎：{{name}}</h2> -->



        <!-- template 只能 和v-if一起使用 -->
        <!-- template在渲染的时候这层结构会自动消失 -->
        <template v-if="n === 1">
            <h2>first</h2>
            <h2>second</h2>
            <h2>third</h2>
        </template>
    </div>

</body>

<script type="text/javascript">
    Vue.config.productionTip = false;

    const vm = new Vue({
        el: '#root',
        data: {
            name: 'tyler',
            showable: false,
            n: 0
        }
    })

</script>

</html>