<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>姓名案例_插值语法实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>

    <div id="root">
        姓：<input type="text" v-model="firstName"> <br /> <br />
        名：<input type="text" v-model="lastName"> <br /> <br />
        完整姓名：<span>{{firstName.slice(0,3)}}-{{lastName}}</span>
    </div>

</body>

<script type="text/javascript">
    Vue.config.productionTip = false;

    new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三'
        }
    })

</script>

</html>